@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
    /* background-color: lavender; */
}

/* Header and Logo */
#logo #selection {
    line-height: 75px;

}

#logo {
    font-size: 300%;
    letter-spacing: 2px; 
    margin-bottom: 5%;
    float: left;
    color: #000000;
}

/* Navigation Links */
#selection {
    font-size: 110%;
    letter-spacing: 3px;
}

#selection li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

#selection a {
    text-decoration: none;
    color: inherit;
}

#selection a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid #f01010b9;
} 


/* Home Page */
.home {
    font-family: 'Oswald', sans-serif;
    color: #3c3c3c;
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.home h2{
    font-size: 250%;
    float: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    padding-top: 5%;
}

#selfie {
    width: 100px;
    height: 175px;
    float: left;
    margin-left: 15%;
}

#summary p {
    border: 2px solid black;
    float: right;
    width: 35%;
    margin-right: 10%;
}

#summary h3 {
    float: center;
    text-transform: uppercase;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    margin-top: 10%; 
}

#hobbies h3 {
    float: center;
    text-transform: uppercase;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 1%;
}

#hobbies p {
    border: 2px solid black;
    float: center;
    width: 35%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 1.5%;
}

#summary {
    height: 300px;
    position: inline-block;
}

#hobbies {
    height: 500px;
    position: inline-block;
}

#gallery {
    clear: both;
    line-height: 1;
    column-count: 3;
    column-gap: 5px;
}

#gallery img {
    width: 100%;
    height: 225px;
}

/* Footer */
footer {
    position: relative;
    border-bottom: 5%;
    letter-spacing: 3px;
    line-height: 100px;
    margin-top: 10%;
    margin-right: 40px;
    margin-left: 40%;
}

#socials li{
    list-style-type: none;
    position: center;
    display: inline;
}

#socials i {
    color: #f01010b9;
    font-size: 150%;
    padding: 30px
}

#socials a:hover {
    border-bottom: 1px solid blue;
}

/* About Me Page */
#school {
    height: 300px;
    margin-top: 10px;
}

#school h2 {
    font-size: 250%;
    float: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    padding-top: 5%;
}

#school table {
    width: 50%;
    margin-left: 300px;
}

#school table td {
    text-align: center;
}

#school table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}


/* Contact Page */

