@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: grey;
}

/* Header and Logo */

#home {
    font-family: 'Oswald', sans-serif;
    color: #3c3c3c;
}

#logo {
    letter-spacing: 3px; 
}

#logo #selection {
    line-height: 75px;  
}
h2, h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: black;
}

/* Navigation Links */
#selction {
    font-size: 90%;
    letter-spacing: 3px;
    
}

#selection li {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

#selection a {
    text-decoration: none;
    color: inherit;
}

#selection a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid red;
} 

/* Home Page */
#selfie {
    width: 100px;
    height: 175px;
    float: left;
    margin-left: 15%;
}

#summary p {
    border: 2px solid black;
    float: right;
    width: 35%;
    margin-right: 10%;

}

#summary h3 {
    float: center;
    text-transform: uppercase;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 3%;
    margin-top: 10%; 
}

#hobbies h3 {
    float: center;
    text-transform: uppercase;
    margin-left: 30%;
    margin-right: 30%;
    
}

#summary {
    height: 400px;
    position: inline-block;
}
#hobbies {
    height: 600px;
    position: inline-block;
}

/* About Me Page */

/* Contact Page */

/* Footer */

footer {
    position: relative;
    text-align: center;
    border-bottom: 5%;
    letter-spacing: 3px;
    line-height: 75px;
    margin-right: 40px;
    margin-left: 40%;
    list-style-type: none;
}

.socials li{
    float: center;
    list-style-type: none;
}

.socials i {
    font-size: 150%;
    margin: 10%;
    padding: 55%;
    color: grey;
}

.socials a:hover {
        border-bottom: 1px solid blue;
}